<h1> Your Favorites </h1>
<div class = "row" >
  <% @favorites.each do |fav| %>
  <div class='col-sm-4'>
    <ul>
      <li > <div class = "image"><%= image_tag(fav.url) %></div></li>
      <li><%= fav.title %> </li>
 </li>
</ul>
</div>
 <% end %>
</div>
