
<div id = "photo-div">

<div id = "all_photos">
  <h1>Hubble Helper</h1>

  <button id = "favorite-button">Favorites</button>

<br />
<div class = "row" >
   <% @photos.each do |photo| %>
 <div class='col-sm-4'>
   <ul>
     <li > <div class = "image"><%= image_tag(photo.url) %></div></li>
     <li><%= photo.title %> </li>
     <li><%= link_to 'Add to favorites', favorites_path(url: photo.url, title: photo.title ), method: :post %>
</li>

  </ul>
  </div>
   <% end %>
</div>
</div>

<div id = "favorite_photos" >
  <%= render :partial => '/favorites/favorites' %>

</div>
</div>
