@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   background-image: linear-gradient(to right top, #41454b, #3e455a, #444266, #543c6d, #6a316d);
 }
 
 .flex_gallery{
   padding: 0;
   list-style: none;
   margin: 20px auto 0;
   width: 700px;
 }

 .flex_images {
   float: left;
   padding: 0;
   margin: 0 5px 10px 5px;
   margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
   }
